* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  background: mediumaquamarine;
  font-family: sans-serif;
}

.container {
  margin-top: 30px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
  background-color: lightgray;
}

.cell {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: azure;
  margin-right: 10px;
  width: 100%;
}

.cell:nth-last-child(-n + 1) {
  margin-right: 0;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
}


.title {
  text-align: center;
  margin-top: 3px;
  text-transform: uppercase;
  font-weight: 400;
}


.button_add {
  width: 100%;
  text-align: end;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.button {
  background-color: #fff;
  color: rgb(70, 65, 80);
}

.button_add:hover {
  background-color: #d2d2d4;
}

.button_add:active {
  background-color: #d2d2d4;
  border: 1px solid #ff6666;
}

.card {
  width: 100%;
  min-height: 60px;
  margin: 5px;
  background-color: #fff;
}



.form-text {
  display: flex;
  padding: 3px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  resize: none;
  height: 40px;
  width: 290px;

}

.block__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.form-button__add {
  display: inline-block;
  width: 80px;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16xp;
  color: #fff;
  background: #d1c8ff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;

}

.form-button__del {
  width: 30px;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16xp;
  color: #fff;
  background: #d1c8ff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
}

.form-button:hover,
.form-button__del:hover {
  background-color: lightgray;
}

.form-button:active,
.form-button__del:active {
  background-color: #990000;
  outline: 1px solid blue;
  border-radius: 5px;
}

.pinned__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: start;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: cadetblue;
  outline: 1px solid gray;
  color: white;

}

.task__title,
.task__del {
  margin: 0;
}

.task__del {
  margin-left: 5px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(183, 187, 129);
}

.task__del::before {
  content: '\2715';

}


.pinned__card.dragged {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: lightblue;
}

.hidden {
  display: none;
}